:root {
  --var-font-roboto: "Roboto", sans-serif;
  --var-font-rubik: "Rubik", sans-serif;
  --var-color-prin: #004d61;
  --var-color-sec: #ff502f;
  --var-color-celeste: #5BD1D7;
  --var-color-celeste--claro: #EAF5FF;
  --var-color-celeste--oscuro: #A9C6DE;
  --var-color-verde: #348498;
  --var-color-texto--pendiente: #5C4806;
  --var-color-fondo--pendiente: #FFE799;
  --var-color-texto--finalizado: #07252D;
  --var-color-fondo--finalizado: #A2DEED;
  --var-color-texto--cancelado: #4E1B12;
  --var-color-fondo--cancelado: #F3A89A;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: var(--var-font-roboto);
}

/* fuentes colores */
.f-prin {
  color: var(--var-color-prin);
}
.f-sec {
  color: var(--var-color-sec);
}
.f-blanco {
  color: white;
}

button,.btn,[type=submit]{
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.874rem;
/*   line-height: 1rem; */
  letter-spacing: 0.078125rem;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(0, 77, 97, 0.25) !important;
}
.btn-close{
  box-shadow: none !important;
}
h1,
.h1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 300;
  font-size: 6rem;
  line-height: 7rem;
  letter-spacing: -0.078125rem;
}

h2,
.h2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 4.375rem;
  letter-spacing: -0.03125rem;
}

h3,
.h3 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3.5rem;
}

.h3-rubick {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5625rem;
}

h4,
.h4 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: 0.015625rem;
}

h5,
.h5 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h6,
.h6 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.009375rem;
}

.text-body-1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.03125rem;
}

.text-body-2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.015625rem;
}

.text-subititle-1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.009375rem;
}

.text-subititle-2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.00625rem;
}

.text-caption {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0.875rem;
  letter-spacing: 0.025rem;
}

.text-overline {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.09375rem;
}

.text-link {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.078125rem;
  text-decoration-line: underline;
}

.z-index-pri {
  z-index: 2;
}

/* Seccion izquierda */
.container_login_imagen {
  background: url(../imgs/imagen-login.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 60%;
  min-width: 200px;
}

.login_cards {
  display: grid;
  gap: 1rem;
}
.login_card {
  width: 90%;
  color: white;
  height: min-content;
  max-width: 486px;
  background: black;
  padding: 1rem;
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
  background: rgba(204, 204, 204, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  backdrop-filter: blur(12px);
  h4 {
    width: 80%;
  }
}

.login_card img {
  height: 4.5rem;
}

/* formulario */
.container_login_formulario {
  position: relative;
  background: white url(../imgs/fondo.svg);
  background-size: cover;
  background-position: bottom right;
  overflow: hidden;
  z-index: 2;

  form {
    display: grid;
    gap: 0.5rem;
    width: 65%;
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      height: 3rem;
      background: #004d61;
      border-radius: 8px;
      border: none;
      color: white;
      margin-top: 1.5rem;
      animation: 1s ease-in-out;
      &:hover {
        filter: contrast(0.9);
      }
    }
  }
}
.blob-orange,
.blob-green {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.blob-orange {
  top: -530px;
  left: -400px;
}

.subtitle_login {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.subcontainer_login_formulario {
  width: max-content;
  height: 100%;
  display: grid;
  align-content: center;
  padding-top: 2rem;
  gap: 0.7rem;
}
/* radiobutons crud */
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn-check[disabled] + .btn,
.btn-check:disabled + .btn {
  pointer-events: none;
  -webkit-filter: none;
  filter: none;
  opacity: 0.65;
}
/* funcionamiento de radiobuttons forms */
#btnradio1:checked ~ .sec1,#btnradio2:checked ~ .sec2,#btnradio3:checked ~ .sec3{
  display: block !important;
  top: 110%;
};

/* navbar */
.navbar{
  background: var(--var-color-prin);
  padding: 20px;
  display: grid;
  min-width: 218px;
  align-content: baseline;
  gap: 28px;
}
/* logo svg */
.logo-svg{
  width: 100%;
  height: min-content;
}
.logo-svg>path{
  fill: white ;
}
/* \logo svg */
/* datos usuario */
.navbar_usuario{
  background: #EAF5FF25;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.nombre-usuario{
  &::before {
    content: '@';
    display: flex;
  }
}
/* \datos usuario */
/* \navbar */

/* Resposive */
@media screen and (max-width: 768px) {
  .logo{
    width: 100%;
    padding-top: .5rem;
  }
  .h3-rubick {
    font-size: 28px;
  }
  h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
  .blob-orange {
    top: -530px;
    left: -590px;
  }
  .container_login_formulario {
    position: absolute;
    top: 30%;
    border-radius: 50px;
  }
  .subcontainer_login_formulario{
    align-content: flex-start;
    padding-top: 3rem;
    width: 100%;
    justify-content: center;
    gap: 0;
    form{
      width: 100%;
    }
  }
}
