:root {
  --var-font-roboto: "Roboto", sans-serif;
  --var-font-rubik: "Rubik", sans-serif;
  --var-color-prin: #004d61;
  --var-color-sec: #ff502f;
}

html {
  font-size: 82%;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: var(--var-font-roboto);
}

/* fuentes colores */
.f-prin {
  color: var(--var-color-prin);
}
.f-sec {
  color: var(--var-color-sec);
}
.f-blanco {
  color: white;
}

button {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.874rem;
  line-height: 1rem;
  letter-spacing: 0.078125rem;
}

h1,
.h1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 300;
  font-size: 6rem;
  line-height: 7rem;
  letter-spacing: -0.078125rem;
}

h2,
.h2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 4.375rem;
  letter-spacing: -0.03125rem;
}

h3,
.h3 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3.5rem;
}

.h3-rubick {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5625rem;
}

h4,
.h4 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: 0.015625rem;
}

h5,
.h5 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h6,
.h6 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.009375rem;
}

.body-1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.03125rem;
}

.body-2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.015625rem;
}

.subititle-1 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.009375rem;
}

.subititle-2 {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.00625rem;
}

.caption {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0.875rem;
  letter-spacing: 0.025rem;
}

.overline {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.09375rem;
}

.link {
  font-family: var(--var-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.078125rem;
  text-decoration-line: underline;
}

.z-index-pri {
  z-index: 2;
}

/* Seccion izquierda */
.container_login_imagen {
  background: url(../imgs/imagen-login.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 60%;
  min-width: 200px;
}

.login_cards {
  display: grid;
  gap: 1rem;
}
.login_card {
  width: 90%;
  color: white;
  height: min-content;
  max-width: 486px;
  background: black;
  padding: 1rem;
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
  background: rgba(204, 204, 204, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  backdrop-filter: blur(12px);
  h4 {
    width: 80%;
  }
}

.login_card img {
  height: 4.5rem;
}

/* formulario */
.container_login_formulario {
  position: relative;
  background: url(../imgs/fondo.svg);
  background-size: cover;
  background-position: bottom right;
  overflow: hidden;
  padding: 0 7rem;

  form {
    display: grid;
    gap: 0.5rem;
    width: 65%;
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      height: 48px;
      background: #004d61;
      box-shadow: 0px 4px 10px rgba(0, 77, 97, 0.25);
      border-radius: 8px;
      border: none;
      color: white;
      margin-top: 1.5rem;
    }
  }
}
.blob-orange,
.blob-green {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.blob-orange {
  top: -530px;
  left: -400px;
}

.subtitle_login {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.subcontainer_login_formulario {
  width: max-content;
  height: 100%;
  display: grid;
  align-content: center;
  padding-top: 2rem;
  gap: 0.7rem;
}
